body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	padding: 0;
    overflow-x: hidden;
}

/* .main-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20; 화면이 작아졌을 때 여백 확보
} */

.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main-image {
	width: 100%;
	height: 600px;
	object-fit: cover;
	display: block;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#color-sections {
	display: flex;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 300px;
	gap: 10px;
}

#restarea {
	position: absolute;
	top: 200px;
	left: 25px;
	color: #fff;
	font-size: 30px;
}

#favorite, #question {
	position: absolute;
	top: 200px;
	left: 40px;
	color: #fff;
	font-size: 30px;
}

#sub-title3 {
	position: absolute;
	top: 35px;
	left: 35px;
	color: #fff; /* 글자 색을 흰색으로 설정 */
	font-size: 30px; /* 글자 크기를 30px로 설정 */
}

.section {
	position: relative; /* 내부 요소를 절대 위치로 배치하려면 필요 */
	height: 100%;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* ====== 아이콘 위치 조절 ====== */
.plus {
	position: absolute;
	top: 25px;
	right: 35px;
	font-size: 30px; /* 필요 시 아이콘 크기 조절 */
	color: #fff; /* 배경이 빨간색이니 흰색이 잘 보임 */
	z-index: 10; /* 다른 콘텐츠 위에 위치하도록 */
	cursor: pointer;
}

.section-red {
	flex: 3;
	background-color: #DE7B63;
}

.book, .chat, .star {
	position: absolute;
	font-size: 65px;
	top: 45px;
	right: 60px;
	color: #fff;
	z-index: 10;
	cursor: pointer;
}

.section-blue {
	flex: 1;
	background-color: #B0E0FF;
}

.section-gray {
	flex: 1;
	background-color: #C0CBD8;
}

.section-yellow {
	flex: 1;
	background-color: #FBD16C;
}