/*버튼 (확인, 취소), 테이블 (th, tr), 선 (line_orange, line_gray), 검색창, 텍스트필드, 서브타이틀*/

/* ==== 노선별 주유소 - h2, 검색 창, 테이블 ==== */
h2 {
	margin: 10px 0px 40px 20px;
}

.search-box {
	margin: 0px 20px 60px 20px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

.search-box select, .search-box input[type="text"] {
	padding: 10px;
	font-size: 15px;
}

.search-box input[type="text"] {
	width : 300px;
}

.search-box label {
	font-weight: bold;
	margin-left: 40px;
}

/* ==== 라인 ==== */
.line_blue {
    margin: 80px 10px 30px 20px;
    width: 5%;
    height: 5px;
    background-color: #007175;
    border: none;
}

.line_gray {
	height: 2px;            
	background-color: #040404;  
	border: none;            
	margin: 20px 0;
}

/* ====== 테이블 ====== */
.user_table {
	width: 100%;
}

.user_table table {
	width: 100%;
	border-collapse: collapse;
	color: #1E1E1E;
}

.user_table th, .user_table td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.user_table th {
	background-color:#3BC1B7;
	color :#F9F9F9;
}

/* ==== 사용자 콘텐츠 부분 ==== */
/* ==== 본문 영역 ==== */
.content {
    flex-grow: 1;
    padding: 40px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
}

.text {
    margin: 30px 0 10px 0;
    font-size: 16px;
}

.pass {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f1f5f9;
    border-radius: 4px;
}


/* ==== 버튼 영역 ==== */
.button-group {
    margin-top: 20px;
}

.btn {
    padding: 8px 25px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-confirm {
    background-color: #3BC1B7;
    color: white;

}

.btn-cancel {
    background-color: #B1EAE7;
    color: white;
}

.btn-confirm:hover {
    background-color: #00AA9E; 
    color: white;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #8ab8b5; 
    color: white;
    transition: background-color 0.3s ease;
}